<div class="dashboard-container">

  <!-- Intestazione -->
  <div class="card header-card">
    <div>
      <h1 class="title">FileHub Dashboard</h1>
      <p class="subtitle">Utente: <span class="user-badge">{{ currentUserEmail }}</span></p>
    </div>
    <div class="header-actions">
      <!-- Pulsante Profilo con navigazione nativa Angular -->
      <button routerLink="/profile" class="btn-dark">
        PROFILO
      </button>
      <button (click)="onLogout()" class="btn-danger">
        ESCI
      </button>
    </div>
  </div>

  <!-- COMPONENTE UPLOAD -->
  <!-- Ascoltiamo l'evento uploadSuccess per dire alla tabella di ricaricarsi -->
  <app-upload (uploadSuccess)="fileList.loadData()"></app-upload>

  <!-- COMPONENTE LISTA FILE -->
  <!-- Usiamo #fileList per creare un riferimento locale al componente -->
  <app-file-list #fileList></app-file-list>

</div>
