<div class="p-4 max-w-sm mx-auto mt-10 border border-black bg-white shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]">
  <h2 class="text-xl font-bold mb-4 uppercase">Registrati</h2>

  <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4">


    <div class="flex gap-2">
      <div class="flex flex-col w-1/2">
        <label class="mb-1 font-bold">Nome</label>
        <input type="text" name="name" [(ngModel)]="name" required class="border border-black p-2 focus:outline-none focus:bg-yellow-50">
      </div>
      <div class="flex flex-col w-1/2">
        <label class="mb-1 font-bold">Cognome</label>
        <input type="text" name="surname" [(ngModel)]="surname" required class="border border-black p-2 focus:outline-none focus:bg-yellow-50">
      </div>
    </div>


    <div class="flex flex-col">
      <label class="mb-1 font-bold">Email</label>
      <input type="email" name="email" [(ngModel)]="email" required email #emailInput="ngModel" class="border border-black p-2 focus:outline-none focus:bg-yellow-50">
      @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
        <span class="text-red-600 text-xs font-bold mt-1">Inserisci un indirizzo email valido.</span>
      }
    </div>


    <div class="flex flex-col">
      <label class="mb-1 font-bold">Password</label>
      <input type="password" name="password" [(ngModel)]="password" required minlength="6" #passwordInput="ngModel" class="border border-black p-2 focus:outline-none focus:bg-yellow-50">
      @if (passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)) {
        <span class="text-red-600 text-xs font-bold mt-1">La password deve contenere almeno 6 caratteri.</span>
      }
    </div>


    @if (errorMessage) {
      <div class="bg-red-200 text-red-800 p-2 border border-red-800 font-bold">{{ errorMessage }}</div>
    }
    @if (successMessage) {
      <div class="bg-green-200 text-green-800 p-2 border border-green-800 font-bold">{{ successMessage }}</div>
    }

    <!-- Bottone Submit -->
    <button type="submit" class="bg-black text-white p-2 font-bold hover:bg-gray-800 cursor-pointer uppercase mt-2">
      Crea Account
    </button>
  </form>

  <!-- Link per tornare al Login -->
  <div class="mt-4 text-center">
    <a routerLink="/login" class="underline text-sm font-bold text-gray-600 hover:text-black cursor-pointer">
      Hai già un account? Entra
    </a>
  </div>
</div>
